body, html
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 18px;
    background-color: black;
}

::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track-piece
{
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(92, 92, 92);
}

.Msg-container ::-webkit-scrollbar-thumb
{
    background-color: rgb(92, 92, 92);
}

#splash
{
    background: url(../../img/splash.jpg);
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity 1.5s linear;
    z-index: 999;
    background-color: black;
}
			
#main_container
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: none;
    background-color: black;
    color: black;
}

#panel
{
    height: 36px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 250ms linear;
    z-index: 999;
    cursor: pointer;
}

#webview_containers
{
    display: grid;
    overflow: hidden;
    width: 100%;
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0; 
}

.webview_container
{
    display: grid;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.action, .action_2
{
    transition: text-shadow 500ms, box-shadow 500ms
}

.action:hover
{
    text-shadow: 0 0 10px currentColor;
}

.action_2:hover
{
    box-shadow: 0 0 10px currentColor, inset 0 0 10px currentColor;
}

#menu_container
{
    display: grid;
    grid-gap: 40px;
    grid-auto-columns: auto;
    align-items: center;
    width: 450px;
}

.menu_item
{
    margin: auto;
    width: 100%;
}

.menu_label
{
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#menu_layout_container
{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: auto;
    align-items: center;
    justify-content: center;
}

.menu_layout_container_item
{
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.menu_layout_item
{
    width: 94px;
    height: 94px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu_layout_item.layout_column
{
    flex-direction: column;
}

.menu_layout_item.layout_column > div
{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

.menu_layout_item.layout_row
{
    flex-direction: row;
}

.menu_layout_item.layout_row > div
{
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.menu_input_text
{
    width: 100%;
    font-size: 1.1rem;
    padding: 0.25rem;
    text-align: center;
}

.menu_input_text_small
{
    width: 8rem;
    font-size: 1.1rem;
    padding: 0.25rem;
    text-align: center;
}

.layout_square_row
{
    display: flex;
    flex-direction: row;
}

.layout_square_row > div
{
    flex-grow: 1;
    flex-shrink: 1;
}

.layout_square_column
{
    display: flex;
    flex-direction: column;
}

.layout_square_column > div
{
    flex-grow: 1;
    flex-shrink: 1;
}

.unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu_webview_controls
{
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#menu_webview_controls
{
    display: grid;
    grid-gap: 40px;
    grid-auto-columns: auto;
    align-items: center;
}

.menu_webview_control
{
    margin: auto;
    width: 100%;
}

.menu_control_icon
{
    cursor: pointer;
}

.webview_control_label
{
    width: 6rem;
    cursor: pointer;
}

.preset_input
{
    font-size: 1.1rem;
    width: 350px;
    padding: 0.2rem;
    text-align: center;
}

.preset_button
{
    font-size: 1.2rem;
    cursor: pointer;
}

.generic_button
{
    font-size: 1.2rem;
    cursor: pointer;
}

#menu_save_preset
{
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.8rem;
}

#menu_clear_presets
{
    font-size: 1rem;
    cursor: pointer;
    margin-right: 0.8rem;
}

#menu_preset_container > div
{
    margin-top: 10px;
}

.inline
{
    display: inline-block;
}

.pointer
{
    cursor: pointer;
}

.disabled
{
    pointer-events: none;
    opacity: 0.5;
}

.underline
{
    text-decoration: underline;
}

#swap_webviews_container
{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: auto;
    align-items: center;
}

.swap_webviews_item
{
    font-size: 1.2rem;
}

.layout_square_item
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    overflow: hidden;
}

input[type=checkbox]
{
    width: 20px;
    height: 20px;
}

select
{
    font-size: 1rem;
    text-align-last: center;
    padding-left: 0.25em;
    padding-right: 0.25em;
    cursor: pointer;
    min-width: 8rem;
}

.invisible
{
    visibility: hidden;
}

#handle_preset_container
{
    outline: none;
    border: 0px solid grey;
}

#info_container
{
    outline: none;
    border: 0px solid grey;
    max-width: 450px;
}

#history_container
{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: auto;
    align-items: center;
    max-width: 600px;
}

.history_item
{
    cursor: pointer;
}

.history_item:first-child
{
    font-size: 1.2rem;
}

.resize_handle_ns
{
    height: 5px;
    width: 100%;
    cursor: ns-resize;
}

.resize_handle_ew
{
    height: 100%;
    width: 5px;
    cursor: ew-resize;
}

.cursor_resize_ns
{
    cursor: ns-resize !important;
}

.cursor_resize_ew
{
    cursor: ew-resize !important;
}

#spaces
{
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    justify-self: flex-start;
}

.spaces_item
{
    cursor: pointer;
    padding: 10px;
}

.spaces_item:last-child
{
    cursor: pointer;
    padding-right: 5px;
}

#autostart_container
{
    max-width: 450px;
}

#autostart_info
{
    margin-bottom: 20px;
}

#autostart_items
{
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: auto;
    align-items: center;
}

.autostart_item
{
    cursor: pointer;
}

.small_info
{
    font-size: 0.8rem;
}

.italic
{
    font-style: italic;
}

#menu_space_options
{
    margin-top: 20px;
}

#handle_preset_open
{
    margin-top: 20px;
}

#open_preset_container
{
    outline: none;
    border: 0px solid grey;
}

#panel_toolbar
{
    display: grid;
    grid-gap: 0px;
    grid-auto-flow: column;
    justify-self: flex-start;
    height: 100%;
}

.panel_item
{
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

#panel_menu_container, #panel_space_options_container
{
    height: 100%;
}

#handle_history_container
{
    outline: none;
    border: 0px solid grey;
}

#panel_zoom_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#handle_history_layout
{
    margin-top: 8px;
}

#url
{
    height: 100%;
    font-size: 0.9rem;
    padding: 4px;
    outline: none;
    border: 0px solid grey;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.separate_horizontal, .separate_horizontal_2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.no_opacity
{
    opacity: 0
}

#handle_preset_row_1
{
    margin-top: 20px;
}

#create_preset_submit
{
    margin-top: 20px;
}

#create_preset_autostart_container
{
    margin-top: 20px;
}

#create_preset_autostart_label
{
    margin-bottom: 5px;
}

#url_suggest
{
    display: none;
    position: fixed;
    background-color: white;
    color: black;
    z-index: 999;
    max-height: 500px;
    max-width: 800px;
    grid-gap: 2px;
    grid-auto-columns: auto;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.url_suggest_item
{
    font-size: 1rem;
    box-shadow: 0 0 1px currentColor;
    padding: 5px;
    cursor: pointer;
    white-space: nowrap;
}

#autostart_buttons
{
    margin-top: 15px;
    font-size: 0.8rem;
}

#handle_new_space_empty
{
    margin-top: 20px;
}

#handle_close_space_close
{
    margin-top: 20px;
}

.spaces_item_selected
{
    text-decoration: underline;
}

#about_content
{
    font-size: 1.2rem;
}

#find
{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20;
    z-index: 999;
    font-size: 1rem;
    padding: 10px;
}

#find_input
{
    font-size: 0.9rem;
    padding: 2px;
    width: 200px;
}

#find_num_results
{
    margin-left: 15px;
}

#find_prev
{
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

#find_next
{
    margin-right: 15px;
    cursor: pointer;
}

#find_close
{
    cursor: pointer;
}

#recent_container
{
    display: grid;
    grid-gap: 10px;
    grid-auto-columns: auto;
    align-items: center;
    max-width: 600px;
    justify-content: center;
    word-break: break-all;
}

.recent_item
{
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px;
}

.recent_item_favicon
{
    width: 40px;
    margin-bottom: 10px;
}

.filter_input
{
    width: 400px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    padding: 0.25rem;
    text-align: center;
}

.ghost_webview
{
    opacity: 0.2;
}

#context_menu
{
    position: fixed;
    z-index: 999;
    display: none;
    min-width: 200px;
    justify-content: center;
    grid-auto-columns: 1fr;
    outline: none;
}

.context_menu_item
{
    font-size: 1rem;
    padding: 10px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.context_menu_icon
{
    margin-right: 12px;
}

.info_popup_item
{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.info_popup_icon
{
    margin-right: 12px;
}

#handle_download_locations
{
    display: grid;
    grid-gap: 10px;
    min-width: 200px;
    justify-content: center;
    grid-auto-columns: 1fr;
    margin-top: 20px;
}

.handle_download_locations_item
{
    cursor: pointer;
    font-size: 1rem;
}