body, html
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 18px;
}

::-webkit-scrollbar
{
    width: 8px;
}

::-webkit-scrollbar-track-piece
{
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background-color: rgb(92, 92, 92);
}

.Msg-container ::-webkit-scrollbar-thumb
{
    background-color: rgb(92, 92, 92);
}
			
#main_container
{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#top_panel
{
    height: 36px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 250ms linear;
    z-index: 999;
    cursor: pointer;
}

#webview_container
{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
}

.webview_container_row
{
    flex-direction: row;
}

.webview_container_column
{
    flex-direction: column;
}

.webview
{
    flex-grow: 1;
    flex-shrink: 1;
}

.webview_column
{
    flex-direction: column;
}

.webview_row
{
    flex-direction: row;
}

.top_panel_icon
{
    font-size: 14px;
}

#menu_icon
{
    padding: 2rem;
}

.action, .action_2
{
    transition: text-shadow 500ms, box-shadow 500ms
}

.action:hover, .action_container:hover
{
    text-shadow: 0 0 1em currentColor;
}

.action_2:hover
{
    box-shadow: 0 0 10px currentColor, inset 0 0 10px currentColor;
}

#menu_window_container
{
    display: grid;
    grid-gap: 40px;
    grid-auto-columns: auto;
    align-items: center;
    width: 450px;
}

.menu_window_item
{
    margin: auto;
    width: 100%;
}

.menu_window_label
{
    font-size: 1.2rem;
    margin-bottom: 15px;
}

#menu_window_layout_container
{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: auto;
    align-items: center;
    justify-content: center;
}

.menu_window_layout_container_item
{
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.menu_window_layout_item
{
    width: 94px;
    height: 94px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu_window_layout_item.layout_column
{
    flex-direction: column;
}

.menu_window_layout_item.layout_column > div
{
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

.menu_window_layout_item.layout_row
{
    flex-direction: row;
}

.menu_window_layout_item.layout_row > div
{
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
}

.menu_window_input_text
{
    width: 100%;
    font-size: 1.1rem;
    padding: 0.25rem;
    text-align: center;
}

.layout_square_row
{
    display: flex;
    flex-direction: row;
}

.layout_square_row > div
{
    flex-grow: 1;
    flex-shrink: 1;
}

.layout_square_column
{
    display: flex;
    flex-direction: column;
}

.layout_square_column > div
{
    flex-grow: 1;
    flex-shrink: 1;
}

.unselectable
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu_window_webview_controls
{
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#menu_window_webview_controls
{
    display: grid;
    grid-gap: 40px;
    grid-auto-columns: auto;
    align-items: center;
}

.menu_window_webview_control
{
    margin: auto;
    width: 100%;
}

.menu_window_control_icon
{
    cursor: pointer;
}

.webview_control_label
{
    width: 6rem;
    cursor: pointer;
}

.preset_input
{
    font-size: 1.1rem;
    width: 350px;
    padding: 0.2rem;
    text-align: center;
}

.preset_button
{
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

#menu_window_save_preset
{
    font-size: 1rem;
    cursor: pointer;
    margin-left: 0.8rem;
}

#menu_window_clear_presets
{
    font-size: 1rem;
    cursor: pointer;
    margin-right: 0.8rem;
}

#menu_window_preset_container > div
{
    margin-top: 10px;
}

.inline
{
    display: inline-block;
}

.pointer
{
    cursor: pointer;
}

.disabled
{
    pointer-events: none;
    opacity: 0.5;
}

.underline
{
    text-decoration: underline;
}

#swap_webviews_container
{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: auto;
    align-items: center;
}

.swap_webviews_item
{
    font-size: 1.2rem;
}

.layout_square_item
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    overflow: hidden;
}

input[type=checkbox]
{
    width: 20px;
    height: 20px;
}

select
{
    font-size: 1rem;
}

.invisible
{
    visibility: hidden;
}

#handle_preset_container
{
    outline: none;
    border: 0px solid grey;
}

#info_container
{
    outline: none;
    border: 0px solid grey;
}

#history_container
{
    display: grid;
    grid-gap: 20px;
    grid-auto-columns: auto;
    align-items: center;
    max-width: 450px;
}

.history_item
{
    cursor: pointer;
}